/*
Colores logo Teipro:
#255D98 -> Azul oscuro
#BEDEEF -> Azul medio
#9FDCF8 -> Azul más claro
*/
/****************************************************************/
/* Configuración inicial de los estilos */
/****************************************************************/
* {
   margin:0;
   padding:0
}
html,
body,
#wrap {
   height: 100%;
}
body {
  background: #eee;
}
body > #wrap {
  min-height: 100%;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}
#content {
   padding-bottom: 102px; /* Misma altura que el footer */
} 
#footer {
  clear: both;
  position: inherit;
  height: 50px; /* Altura del footer */
  width: 90%;
  max-width: 1000px;
  margin: auto;
}
/****************************************************************/
/* Sección del Header */
/****************************************************************/
header {
  border-radius:5px;
    -moz-border-radius:5px; 
    -webkit-border-radius:5px;
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 86%, rgba(37,93,152,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(86%, rgba(255,255,255,1)), color-stop(100%, rgba(37,93,152,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 86%, rgba(37,93,152,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 86%, rgba(37,93,152,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 86%, rgba(37,93,152,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 86%, rgba(37,93,152,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#255d98', GradientType=0 );
}
header .logo {
  float: left;
  margin-bottom: 10px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #BEDEEF;
}
.nav-pills > li {
  float: right;
  margin-top: 30px;
  font-family: 'Fira Sans', sans-serif;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #255D98;
}
/****************************************************************/
/* Sección del Body */
/****************************************************************/
#content {
  background: #fff;
}
/****************************************************************/
/* Misceláneos */
/****************************************************************/

.logotipo{
   color: #74CFE2;
}
.textoTitulos{
   color: #255D98;
   margin-top: 10px;
   font-weight: bold;
   font-size: 17px;
   font-family: 'Fira Sans', sans-serif;
}
.tituloCentrado{
   color: #255D98;
   margin-top: 10px;
   font-weight: bold;
   font-size: 19px;
   font-family: 'Fira Sans', sans-serif;
}
.textoContenido{
   color: #000000;
   font-weight: normal;
   font-size: 15px;
   font-family: 'Fira Sans', sans-serif;
   margin-left: 22px;
}
.textoContenido1{
   color: #000000;
   font-weight: normal;
   font-size: 14px;
   font-family: 'Fira Sans', sans-serif;
   margin-left: 22px;
}
.textoSlide {
   margin-bottom: 50px; 
   color: #FFD133;
   font-weight: bold;
   font-size: 20px;
   font-family: 'Fira Sans', sans-serif;
 }
/*
font-family: 'Ruda', sans-serif;
font-family: 'Jura', sans-serif;
*/

/****************************************************************/
/* Sección del Footer */
/****************************************************************/
footer {
   width:100%;
   float:left;
   clear:both;
   box-shadow:0px 2px 2px #000;
      -moz-box-shadow:0px 2px 2px #000;
      -webkit-box-shadow:0px 2px 2px #000;
   border-radius:5px;
      -moz-border-radius:5px; 
      -webkit-border-radius:5px;
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(37,93,152,1) 14%, rgba(37,93,152,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(14%, rgba(37,93,152,1)), color-stop(100%, rgba(37,93,152,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(37,93,152,1) 14%, rgba(37,93,152,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(37,93,152,1) 14%, rgba(37,93,152,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(37,93,152,1) 14%, rgba(37,93,152,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(37,93,152,1) 14%, rgba(37,93,152,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#255d98', GradientType=0 );
}
 
footer section {
   width:50%;
   float:left;
   padding:20px;
}
 
footer #acerca-de {
   font-family: 'Fira Sans', sans-serif;
   font-size:12px;
   color:#fff;
   text-align:justify;
   line-height:20px;
}
 
footer #acerca-de h3 {
  font-family: 'Fira Sans', sans-serif;
  font-size:16px;
  color:#BEDEEF;
  margin-bottom:5px;
}
 
footer #redes-s > div {
   width:100px;
   height:70px;
   color: #fff;
   float:left;
   background:#ff8000;
   opacity:0.5;
}
 
footer #redes-s > div a {
   width:100px;
   height:60px;
   display:inline-block;
}
 
footer #redes-s .email {
   background:url(../img/gmail.png) no-repeat; 
   margin-bottom:15px;
   margin-top: 10px;
} 
footer #redes-s > div:hover {
   opacity:1;
}
 
#copyright {
   float:left;
   width:100%;
   margin:10px 0px;
}
 
#copyright p {
   text-align:center;
  font-family: 'Fira Sans', sans-serif;
   font-size:12px;
   font-weight: bold;
   color:#0000;
}
.fondoFooter{
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(4,78,130,1) 14%, rgba(4,78,130,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(14%, rgba(4,78,130,1)), color-stop(100%, rgba(4,78,130,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(4,78,130,1) 14%, rgba(4,78,130,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(4,78,130,1) 14%, rgba(4,78,130,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(4,78,130,1) 14%, rgba(4,78,130,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(4,78,130,1) 14%, rgba(4,78,130,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#044e82', GradientType=0 );

}
/****************************************************************/
/* Sección de Equipo */
/****************************************************************/
.integrantes {
  margin: 2px;
  height: 20%;
  box-shadow:0px 2px 2px #eee;
    -moz-box-shadow:0px 2px 2px #eee;
    -webkit-box-shadow:0px 2px 2px #eee;
  border-color: #000;
  border-style: solid;
  border-radius:5px;
    -moz-border-radius:5px; 
    -webkit-border-radius:5px;
  background: #fff; /* Old browsers */
  font-family: 'Fira Sans', sans-serif;
}
.integrantes .img {
  top: 50%;
}

.centrarDiv {
    margin: 0 auto;
}
/****************************************************************/
/* Sección de Casos de Éxito */
/****************************************************************/
#particles-js {
  width:100%;
  height:100%;
  max-width: 1000px;
  position: relative;
  left: -12px;
  background:rgba(255,255,255,0);
}

.proyectos {
  font-family: 'Fira Sans', sans-serif;
  position: absolute;
  margin: 2px;
  box-shadow:0px 2px 2px #eee;
    -moz-box-shadow:0px 2px 2px #eee;
    -webkit-box-shadow:0px 2px 2px #eee;
  border-color: #000;
  border-style: solid;
  border-radius:5px;
    -moz-border-radius:5px; 
    -webkit-border-radius:5px;
  background: transparent; /* Old browsers */
}
.proyectos:hover {
  background:rgba(238,238,14,.5);
}
#proyecto1 {
  left:0px;  
}
#proyecto2 {
  left: 50%;
}
#previa {
  background: rgba(0,0,0,0.5);
  display: none;
  height: 100%;
  left:0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
#previa div {
  margin: 30px auto;
  width: 60%;
}